body{
    
    overflow-x: hidden;
    margin: 0;
    background-color: #FEFEFE;
}
header {
    background-color: #1a1919;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Estilos para os links */
  nav a {
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 20px;
    text-decoration: none;
    color: #f7f7f7;
  }
header a{
    color: white;
}
#logo{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}

.car-image img{
    border-radius: 10px;
    margin: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#carouselExampleIndicators{
    border-radius: 10px;
    margin-right: 100px;
    width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carousel-inner{
    max-width: 100%;
    height: 600px
}

.carousel-inner img {
    height: 600px; 
    object-fit: cover;
    border-radius: 10px;
}

.carName{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #1a1a1b;

}


.card{
    background: fixed;
    
    background-color: black;
    margin: 50px auto 50px auto;
    margin-top: 50px;
    
    width: 1000px;
    height: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#map{
    margin: 25px;
}
.descricao{
    margin: 10px;
}
@media only screen and (max-width: 768px) {
    .car-image img {
        margin: 20px;
    }
    #carouselExampleIndicators {
        margin-right: 20px;
        width: 100%;
    }
    .card {
        width: 90%;
        height: auto;
    }
    #map {
        margin: 15px;
    }
    .descricao {
        margin: 5px;
    }
}

/* Estilos para telas médias */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .carousel-inner {
        height: 400px;
    }
    .carousel-inner img {
        height: 400px;
    }
    .car-image img {
        margin: 50px;
    }
    #carouselExampleIndicators {
        margin-right: 50px;
        width: 900px;
    }
    .card {
        width: 80%;
        height: auto;
    }
    #map {
        margin: 20px;
    }
    .descricao {
        margin: 10px;
    }
}

/* Estilos para telas grandes */
@media only screen and (min-width: 1201px) {
    .carousel-inner {
        height: 600px;
    }
    .carousel-inner img {
        height: 600px;
    }
    .car-image img {
        margin: 100px;
    }
    #carouselExampleIndicators {
        margin-right: 100px;
        width: 1200px;
    }
    .card {
        width: 1000px;
        height: 1000px;
    }
    #map {
        margin: 25px;
    }
    .descricao {
        margin: 10px;
    }
}
